/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 200px;
}

h1,h2{
  text-align: center;
  padding: .5em;
  border-bottom: dotted 1px rgb(226, 140, 140);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
